/*!
 *  基于vue-admin-beautiful构建 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-6-28 14:45:08
 */[data-v-58c3df10]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#001529;menu-background-active:#1890ff;tags-bar-background-active:#1890ff;button-background:#1890ff;pagination-background-active:#1890ff}[class*=-container][data-v-58c3df10]{padding:15px;background:#fff}